/2m_test.py
/Docs
/electron.jpeg
/Electronic_states.py
/Latex code
/Matlab
/packet_simu.py
/proton.jpeg
/QOH_Trial.py
/quantum_electron_orbit.py
/quantum_harmonic_Oscilator.py
/quantum_harmonic_oscilator_shift.py
/quantum_harmonic_oscilatro_time_evolution.py
/video
/wave_packet_wih_potential_simulation.py